@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Alex+Brush&family=Allura&family=Amatic+SC&family=Chakra+Petch:wght@300&family=Cinzel:wght@500&family=Comfortaa:wght@300&family=Cormorant+Garamond:ital,wght@1,600&family=Cormorant:wght@400;500&family=Edu+SA+Beginner:wght@500&family=Fredericka+the+Great&family=Gruppo&family=Indie+Flower&family=Julee&family=Jura:wght@500&family=Kaisei+HarunoUmi:wght@700&family=Kaushan+Script&family=Marmelad&family=Monoton&family=Mooli&family=Mulish:wght@700&family=Nanum+Brush+Script&family=Open+Sans:wght@400;700&family=Orbitron:wght@400;800&family=Parisienne&family=Play&family=Poiret+One&family=Poppins:ital@1&family=Red+Hat+Mono&family=Roboto+Slab&family=Rubik:wght@400;500;700&family=Titillium+Web&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
